/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Apr-2019, 18:38:25
    Author     : clair
*/
.ui-panelgrid .ui-panelgrid-cell{border: none!important;}
.ui-widget-content{border:none;}
.successText {color: #0c68b1;font-weight: bold;}
.nolinkborder:hover{text-decoration: none!important;}
.ui-widget-content{background: transparent!important;}    
.ui-panelgrid {width: 100%;}
.ui-panelgrid-cell{text-align: right;}
.ui-inputfield{width:100%}
.errorText {color: red; margin: 12px; font-weight: bold;}
.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:10px 0px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}
.row{margin:0!important;}
.footer-bar{background-color: #0b69b1; color:#f6d42a;margin-top:25px;}
.h3, h3{font-size: 1.4em!important; color: #0b69b1;}
.h4, h4{font-size: 1.2em!important; color: #0b69b1;}
.btn-info{background-color:#0b69b1;border-color:#0b69b1;}
hr.header{background-color:#0b69b1;height: 1px;margin-top:5px;}
.fontBlue{color:#0b69b1;}
.right_content{margin:0px 30px!important;}
